<h1>Despesas Cadastradas</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Descrição</th>
      <th>Tipo de Pagamento</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    {{#each despesas}}
      <tr>
        <td>{{id}}</td>
        <td>{{valor}}</td>
        <td>{{data_compra}}</td>
        <td>{{descricao}}</td>
        <td>{{tipo_pagamento}}</td>
        <td>{{categoria}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>